.notification-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10000; /* Assure que le pop-up est visible */
}

.notification-popup {
  background-color: #4caf50;
  color: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}