<div class="chat-container">
    <div class="chat-header">
        <h2>Chat Assistant</h2>
    </div>
    
    <div class="chat-messages" #messageContainer>
        <div *ngFor="let message of messages" 
             [class.user-message]="message.isUser"
             [class.bot-message]="!message.isUser"
             class="message">
            <div class="message-content">{{ message.content }}</div>
            <div class="message-time">{{ message.timestamp | date:'shortTime' }}</div>
        </div>
    </div>

    <div class="chat-input">
        <input type="text" 
               [(ngModel)]="userInput" 
               (keyup.enter)="sendMessage()"
               placeholder="Type your message...">
        <button (click)="sendMessage()">Send</button>
    </div>
</div>